<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wp.businesscircle">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.wp.personal.ModifyData"/>
        <activity android:name="com.wp.personal.Gift"/>
        <activity android:name="com.wp.personal.Attention"/>
        <activity android:name="com.wp.slide_menu.JewelBox"/>
        <activity android:name="com.wp.slide_menu.MyCollection"/>
        <activity android:name="com.wp.home.ReleaseProject"/>
        <activity android:name="com.wp.home.CEOSchool"/>
        <activity android:name="com.wp.home.MemberAdvice"/>
        <activity android:name="com.wp.home.WarCooperative"/>
        <activity android:name="com.wp.businesscircle.SplashActivity"/>
    </application>

</manifest>